.product-card {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
  background-color: white;
  overflow: hidden;
  border-radius: var(--default-border-radius);
  padding: 1rem;
  transition: var(--default-transition);
  animation: slideFromRight 0.5s ease;
  box-shadow: var(--default-box-shadow);
}

.product-category-label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.15rem;
  z-index: 1;
  text-transform: capitalize;
  background-color: var(--label-color);
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.3rem 0.6rem;
  border-radius: var(--xs-border-radius);
  white-space: nowrap;
  box-shadow: var(--default-box-shadow);
}

.product-card img {
  width: 100%;
  height: 250px;
  transform: scale(0.8);
  object-fit: contain;
  transition: var(--default-transition);
}

.product-card:hover img {
  transform: scale(0.8175);
}

.product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  gap: 1rem;
}

.product-title {
  font-size: 1.015rem;
  font-weight: 600;
}

.product-price {
  display: inline-block;
  justify-self: end;
  font-size: 1.15rem;
  font-weight: 700;
  color: var(--main-light-color);
  background-color: var(--main-dark-color);
  margin-bottom: 0;
  padding: 0.4rem 0.8rem;
  border-radius: 0.75rem;
  transition: var(--default-transition);
  box-shadow: var(--default-box-shadow);
}

.product-card .favourite-button {
  z-index: 9;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
